################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PatientKiosk
# Visual Studio
.vs/

# Build Output
bin/
obj/

# Logs
Logs/
*.log

# User Files
*.user
*.suo

# Cache Files
*.cache